@import url(https://fonts.googleapis.com/css?family=Raleway:200,200italic,300,300italic,100,100italic);

//Main Elements

* {
  font-family: 'Raleway';
  font-weight: 200;
}

body {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  background: #eee;
}

//Nav-Bar

.header {
  display: flex;
  padding-left: 5%;
  background: #ccc;
  min-height: 125px;
  flex-grow: 10;
  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    transform: rotate(-8deg);
    font-weight: 600;
  }
  h5 {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: -30px;
  }
}

//Search result and display elements

.searching {
  padding-bottom: 10px;
  border-bottom: 2px solid #489;
}

li {
  font-size: 2rem;
}

.bk {
  font-weight: 300;
  display: none;
  padding: 10px;
  margin: 2px;
  background: #ccc;
  margin-left: 10px;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.bike {
  margin: 10px 0;
  cursor: pointer;
}

.searching {
  display: none;
  margin: 25px 0;
}

.search-city {
  font-weight: bold;
}

.main {
  flex-grow: 1;
}

//Footer 

footer {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  align-self: flex-end;
  background: #ccc;
  height: 50px;
  justify-content: flex-end;

  p {
    padding: 0;
    margin: 0;
  }
}
